@using Microsoft.AspNetCore.Identity
@using Witter.Data.Models
@using Witter.Services.Data.Contracts
@model Witter.Web.ViewModels.Weets.FullWeetViewModel
@inject UserManager<ApplicationUser> UserManager
@inject ILikeService likeService;

<div class="row border-bottom mx-2 p-2" id="@Model.Id">
    <div class="col-11">
        <div class="row py-2">
            <h6 class="text-muted">
                By:
                <a asp-controller="Profile" asp-action="Index" asp-route-username="@Model.Author.UserName">@Model.Author.UserName</a> at
                @Model.Author.Tag (@Model.CreatedOnOffset)
            </h6>
        </div>
        <div class="row py-2">
            <p class="m-0">@Model.Content</p>
        </div>

        @if (Model.Tags.Any())
        {
            <div class="row">
                @foreach (var tag in Model.Tags)
                {
                    <a asp-controller="Tags" asp-action="Index" asp-route-name="@tag.Name" class="badge badge-info p-2 my-2 mx-2">@tag.Name</a>
                }
            </div>
        }

        <div class="row">
            @if (!this.likeService.IsLiked(this.UserManager.GetUserId(this.User), Model.Id))
            {
                <a asp-controller="Weets" asp-action="Like" asp-route-id="@Model.Id" asp-route-returnUrl="@this.Context.Request.Path.Value" class="btn btn-success">@($"Like ({Model.LikeCount})")</a>
            }
            else
            {
                <a asp-controller="Weets" asp-action="DisLike" asp-route-id="@Model.Id" asp-route-returnUrl="@this.Context.Request.Path.Value" class="btn btn-danger">@($"Like ({Model.LikeCount})")</a>
            }
            @if (await this.UserManager.GetUserAsync(this.User) == @Model.Author)
            {
                <div class="btn-group dropleft mx-2">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropleft
                    </button>
                    <div class="dropdown-menu">
                        <a asp-controller="Weets" asp-action="Update" asp-route-Id="@Model.Id" class="dropdown-item p-4">Edit</a>
                        <a asp-controller="Weets" asp-action="Delete" asp-route-id="@Model.Id" asp-route-returnUrl="@this.Context.Request.Path.Value" class="dropdown-item p-4">Delete</a>
                    </div>
                </div>
            }
            <a asp-controller="Weets" asp-action="Detail" asp-route-Id="@Model.Id" class="btn btn-warning">See more.. </a>
        </div>
    </div>
</div>
