@using Witter.Web.Controllers
@using Microsoft.AspNetCore.Identity
@using Witter.Data.Models
@model System.Collections.Generic.IEnumerable<Witter.Web.ViewModels.Weets.FullWeetViewModel>
@inject UserManager<ApplicationUser> UserManager

@{
    ViewBag.Title = "Feed";
    Layout = "_Layout";
}

<div class="container border-left border-right">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="border-bottom">
            <form method="post" asp-action="Create">
                <label for="weet">Weet</label>
                <input type="text" class="form-control" name="Content" placeholder="Weet here">
                <button type="submit" class="btn btn-primary m-2">Submit</button>
            </form>
        </div>
    }

    @foreach (var weet in Model)
    {
        <div class="card border-0" id=@weet.Id>
            <div class="card-body border-bottom">
                <h6 class="card-subtitle mb-2 text-muted">
                    By: 
                    @Html.ActionLink(@weet.Author.UserName, "Index", "Profile", new { username = @weet.Author.UserName }, null) at
                    @weet.Author.Tag (@weet.CreatedOn)
                </h6>
                <p class="card-text">@weet.Content</p>

                @if (await this.UserManager.GetUserAsync(this.User) == @weet.Author)
                {
                    <div class="btn-group dropleft">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropleft
                        </button>
                        <div class="dropdown-menu">
                            @Html.ActionLink("Edit", "Update", "Weets", new { id = @weet.Id.ToString() }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Delete", "Delete", "Weets", new { id = @weet.Id.ToString() }, new { @class = "dropdown-item" })
                        </div>
                    </div>
                }
                @Html.ActionLink("Like (" + @weet.Likes + ")", "Like", "Weets", new { id = @weet.Id.ToString() }, new { @class = "btn btn-info" })
                @Html.ActionLink("See more.. ", "Detail", "Weets", new { id = @weet.Id.ToString() }, new { @class = "btn btn-warning" })
            </div>
        </div>
    }
</div>
