@using Microsoft.AspNetCore.Identity
@using Witter.Data.Models
@using Witter.Services.Data.Contracts
@model Witter.Web.ViewModels.Users.UserFollowerViewModel
@inject UserManager<ApplicationUser> UserManager
@inject IFollowerService followerService

<div class="container w-50 border-left border-right">

    <div class="row mb-2">
        <div class="col-sm-1 p-2">
            <a asp-controller="Profile" asp-action="Index" asp-route-username="@Model.UserName" class="badge badge-light">
                <span class="iconify" data-icon="ant-design:arrow-left-outlined" data-inline="false" data-width="50" data-height="50"></span>
            </a>
        </div>
        <div class="col">
            <h2 class="m-0">@Model.UserName</h2>
            <small>@Model.UserName</small>
        </div>
    </div>

    @if (Model.Users.Any())
    {
        @foreach (var user in @Model.Users)
        {
            <div class="row border px-0">
                <div class="col-sm-3">
                    <img src="https://via.placeholder.com/150" class="rounded rounded-circle img-thumbnail mx-4" />
                </div>
                <div class="col">
                    <div class="row p-4">
                        <div class="col">
                            <h5 class="m-0"><a asp-controller="Profile" asp-action="Index" asp-route-username="@user.UserName">@user.UserName</a></h5>
                            <small>@user.UserName</small>
                        </div>
                        @if (this.UserManager.GetUserId(this.User) != user.Id)
                        {
                            <div class="col">
                                @if (!this.followerService.IsFollowing(this.UserManager.GetUserId(this.User), user.Id))
                                {
                                    <a asp-controller="Profile" asp-action="Follow" asp-route-Id="@user.Id" asp-route-returnUrl="@this.Context.Request.Path.Value" class="btn btn-success my-auto">Follow</a>
                                }
                                else
                                {
                                    <a asp-controller="Profile" asp-action="UnFollow" asp-route-Id="@user.Id" asp-route-returnUrl="@this.Context.Request.Path.Value" class="btn btn-danger my-auto">UnFollow</a>
                                }
                            </div>
                        }
                    </div>
                    <div>
                        <p class="card-text">@user.AboutMe</p>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p>@Model.UserName have no followers! </p>
    }
</div>
