@model Witter.Web.ViewModels.Users.UserFollowerViewModel

<div class="container w-50 border-left border-right">

    <div class="row mb-2">
        <div class="col-sm-1 p-2">
            <a asp-controller="Profile" asp-action="Index" asp-route-username="@Model.UserName" class="badge badge-light">
                <span class="iconify" data-icon="ant-design:arrow-left-outlined" data-inline="false" data-width="50" data-height="50"></span>
            </a>
        </div>
        <div class="col">
            <h2 class="m-0">@Model.UserName</h2>
            <small>@Model.UserName</small>
        </div>
    </div>

    @if (Model.Users.Any())
    {
        @foreach (var user in @Model.Users)
        {
            <div class="row border px-0">
                <div class="col-sm-3">
                    <img src="https://via.placeholder.com/150" class="rounded rounded-circle img-thumbnail mx-4" />
                </div>
                <div class="col">
                    <div class="row p-4">
                        <div class="col">
                            <h5 class="m-0">@user.UserName</h5>
                            <small>@user.UserName</small>
                        </div>
                        <div class="col">
                            <a href="#" class="btn btn-primary float-right">Follow</a>
                        </div>
                    </div>
                    <div>
                        <p class="card-text">@user.AboutMe</p>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p>@Model.UserName have no followers! </p>
    }
</div>

@section Scripts {
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
}