@using Microsoft.AspNetCore.Identity
@using Witter.Data.Models
@using Witter.Services.Data.Contracts
@model Witter.Web.ViewModels.Profile.ProfileViewModel
@inject UserManager<ApplicationUser> UserManager
@inject IFollowerService followerService
@inject ILikeService likeService
@{
    ViewBag.Title = $"{Model.UserName}";
}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 pb-4">
            <div class="well well-sm">
                <div class="row justify-content-between">
                    <div class="col">
                        <img src="https://via.placeholder.com/150" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col">
                        <h4>
                            @Model.UserName
                        </h4>
                        <small>
                            <cite title="San Francisco, USA">
                                San Francisco, USA <i class="glyphicon glyphicon-map-marker">
                                </i>
                            </cite>
                        </small>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>@Model.UserName@@test.com
                            <br />
                            <span>Created On:</span>
                            <i class="glyphicon glyphicon-gift"></i>@Model.CreatedOnOffset
                        </p>
                        @if (this.UserManager.GetUserAsync(this.User).Result.Id != @Model.Id)
                        {
                            @if (!this.followerService.IsFollowing(this.UserManager.GetUserAsync(this.User).Result.Id, @Model.Id))
                            {
                                <a asp-controller="Profile" asp-action="Follow" asp-route-Id="@Model.Id" asp-route-returnUrl="@this.Context.Request.Path.Value" class="btn btn-success">Follow</a>
                            }
                            else
                            {
                                <a asp-controller="Profile" asp-action="UnFollow" asp-route-Id="@Model.Id" asp-route-returnUrl="@this.Context.Request.Path.Value" class="btn btn-danger">UnFollow</a>
                            }
                        }
                        else
                        {
                            <a asp-controller="Settings" asp-action="index" class="btn btn-warning">Settings</a>
                        }
                    </div>
                    <div class="col">
                        <p class="mb-0">Followers:</p>
                        <small>@Model.FollowersCount</small>
                        <p class="mb-0">Following:</p>
                        <small>@Model.FollowingCount</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Check if profile is mine*@

    @if (this.User.Identity.IsAuthenticated && this.Model.Id == this.UserManager.GetUserId(this.User))
    {
        <hr />

        <div>
            <form method="post" asp-controller="Weets" asp-action="Create">
                <label for="weet">Weet</label>
                <input type="text" class="form-control" name="Content" placeholder="Weet here">
                <input type="text" name="returnUrl" value="@this.Context.Request.Path.Value" hidden />
                <button type="submit" class="btn btn-primary m-2">Submit</button>
            </form>
        </div>
    }

    <hr />

    <div class="mt-2 nav-justified">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="feed-tab" data-toggle="tab" href="#feed" role="tab" aria-controls="home"
                   aria-selected="true">Feed</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="liked-tab" data-toggle="tab" href="#liked" role="tab" aria-controls="liked" aria-selected="false">Liked</a>
            </li>
        </ul>
    </div>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="feed" role="tabpanel" aria-labelledby="feed-tab">
            @if (!Model.Weets.Any())
            {
                <h3 class="text-center mt-3">You don't have any posts.</h3>
            }
            else
            {
                @foreach (var weet in Model.Weets.OrderByDescending(x => x.CreatedOn))
                {
                    <partial name="_WeetPartial" model="weet" />
                }
            }
        </div>
        <div class="tab-pane fade" id="liked" role="tabpanel" aria-labelledby="liked-tab">
            Food truck fixie
            locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit,
            blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.
            Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum
            PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS
            salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit,
            sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
            stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
        </div>
    </div>

    
</div>