@using Microsoft.AspNetCore.Identity
@using Witter.Data.Models
@model Witter.Web.ViewModels.Profile.ProfileViewModel
@inject UserManager<ApplicationUser> UserManager
@{
    ViewBag.Title = "Profile - @" + @Model.Tag;
}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 pb-4 border-bottom">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="https://via.placeholder.com/150" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>
                            @Model.Tag
                        </h4>
                        <small>
                            <cite title="San Francisco, USA">
                                San Francisco, USA <i class="glyphicon glyphicon-map-marker">
                                </i>
                            </cite>
                        </small>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>@Model.UserName@@test.com
                            <br />
                            <i class="glyphicon glyphicon-globe"></i><a href="http://www.jquery2dotnet.com">www.jquery2dotnet.com</a>
                            <br />
                            <i class="glyphicon glyphicon-gift"></i>@Model.CreatedOn
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @foreach (var weet in Model.Weets.OrderByDescending(x => x.CreatedOn))
    {
        <div class="card border-0" id=@weet.Id>
            <div class="card-body border-bottom">
                <h6 class="card-subtitle mb-2 text-muted">
                    You created this post @weet.CreatedOn.
                </h6>
                <p class="card-text">@weet.Content</p>
                <div class="btn-group dropleft">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropleft
                    </button>
                    <div class="dropdown-menu">
                        @Html.ActionLink("Edit", "Update", "Weets", new { id = @weet.Id.ToString() }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Delete", "Delete", "Weets", new { id = @weet.Id.ToString() }, new { @class = "dropdown-item" })
                    </div>
                </div>
                @Html.ActionLink("Like (" + @weet.Likes + ")", "Like", "Weets", new { id = @weet.Id.ToString() }, new { @class = "btn btn-info" })
                @Html.ActionLink("See more.. ", "Detail", "Weets", new { id = @weet.Id.ToString() }, new { @class = "btn btn-warning" })
            </div>
        </div>
    }
</div>